.header__logo {
  grid-area: logo;
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media(max-width: 930px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media(max-width: 340px) {
  .header__logo {
    margin-bottom: 31px;
    width: 103px;
    height: 24px;
  }
}