.element__heart {
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../../images/element-heart.svg);
  background-color: inherit;
  transition: opacity 1s linear;
}
.element__heart:hover {
  opacity: 0.5;
}