.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media(max-width: 930px) {
  .footer__copyright {
    margin-left: 27px;
  }
}

@media(max-width: 605px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}