.sing__input {
  color: rgba(204, 204, 204, 1);
  background-color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 2px solid #CCCCCC;
  max-width: 358px;
  border-style: none;
  border-bottom-style: solid;
  margin-bottom: 30px;
  padding-bottom: 13px;
}